body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
  color: #fff;
}
header {
  /*list horizontal */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container {
  text-align: center;
  max-width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image-container {
  margin: 20px 0;
}

#apod-image {
  max-width: 100%;
  height: auto;
  border: 2px solid #fff;
  border-radius: 10px;
}

#info-container {
  text-align: left;
}
