::selection {
  background-color: #f0dc03;
  color: #000;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  color: #fff;
}

img {
  max-width: 90% !important;
  height: auto;
}

header {
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  width: 100%;
  color: #fff;
  z-index: 1000; /* Changed from -1000 to 1000 for visibility */
  display: flex; /* Added to enable flex properties */
}

header h1 {
  margin: 1rem 0 0 0 !important;
  padding: 0;
}

header p {
  margin: 0 !important;
  padding: 0;
  margin-bottom: 3rem !important;
}

.container {
  margin-top: 10vh !important;
  text-align: center;
  max-width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date {
  font-size: 1rem;
  z-index: 1;
  position: relative;
  color: #fff;
  font-weight: 600;
  margin-bottom: 1rem;
}

#image-container {
  margin-top: 2rem !important;
  margin: 20px 0;
}

#apod-image {
  max-width: 100%;
  height: auto;
  border: 2px solid #fff;
  border-radius: 10px;
}

#date {
  font-size: 1rem;
  font-weight: lighter;
  opacity: 0.8;
  margin-top: 1rem;
}

#info-container {
  text-align: left;
}

#explanation {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

#rate-limit-info {
  margin-top: 2rem;
  font-weight: bolder;
  width: 100%;
}

.githubLogo {
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 30px;
  filter: drop-shadow(0 0 2px #070ed9);
  z-index: 1000;
}

.githubLogo a {
  color: #626262;
  transition: color 0.3s ease;
}

.githubLogo a:hover {
  color: #ffffff;
}
